@model IEnumerable<UserManagementDemo.Models.UserViewModel>

<h1>users</h1>
@await Html.PartialAsync("_DialogRegister")

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createUserDialog">
	Create User
</button>
<table>
	<thead>
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var user in Model)
		{
			<tr>
				<td>@user.UserName</td>
				<td>@user.Email</td>
				<td>
					<button type="button">Edit</button>
					<button type="button">Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>
